@font-face {
  font-family: "Grenze Gotisch";
  src: url("./font/GrenzeGotisch-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;

  background-image: url("/img/landscape/background-tile.png");
  background-repeat: repeat;
  background-size: 640px 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
