body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  background-image: url("/img/landscape/background-tile.png");
  background-repeat: repeat;
  background-size: 640px 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  position: relative;
  width: 866px;
  height: 618px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.character-energy {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 72px;
  height: 217px;

  z-index: 20;
}

.character-energy img {
  width: 72px;
  height: 217px;
  display: block;
}

canvas {
  position: absolute;
  left: 73px;
  top: 69px;

  background-color: black;
  /* display: block; */
  width: 720px;
  height: 480px;
}

.canvas-frame {
  position: absolute;
  inset: 0;

  width: 866px;
  height: 618px;

  pointer-events: none;
  z-index: 10;
}

.fruit-inventory {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 3;
}

.fruit-inventory img {
  width: 32px;
  height: auto;
}
